<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-freeform">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#nav-panels" href="#collapse-freeform" aria-expanded="false" aria-controls="collapse-freeform">
        Free Form
      </a>
    </h4>
  </div>
  <div id="collapse-freeform" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-freeform">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-input" />
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">URL</label>
          <div class="col-sm-10">
            <input type="text" class="form-input" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>